---
- name: Ensure Redis container group exists with correct gid
  ansible.builtin.group:
    gid: "{{ redis_gid }}"
    name: "{{ redis_group }}"
    state: present

- name: Ensure Postgres user exist
  ansible.builtin.user:
    create_home: false
    group: "{{ redis_group }}"
    name: "{{ redis_user }}"
    uid: "{{ redis_uid }}"

- name: Ensure Redis directories exist
  ansible.builtin.file:
    path: "{{ (item | string).split(':')[0] }}"
    state: directory
    owner: "{{ redis_uid }}"
    group: "{{ redis_gid }}"
    mode: "0700"
  with_items:
    - "{{ redis_data_dir }}"
    - "{{ redis_volume_data }}"

- name: Ensure Custom Redis directories exist
  ansible.builtin.file:
    path: "{{ (item | string).split(':')[0] }}"
    state: directory
    owner: "{{ redis_uid }}"
    group: "{{ redis_gid }}"
    mode: "0700"
  with_items:
    - "{{ redis_volumes }}"

- name: Pull Redis container image
  community.docker.docker_image:
    force_source: true
    name: "{{ redis_image }}"
    source: pull
    tag: "{{ redis_version }}"
  notify: Remove redis

- name: Ensure all handlers run before continuing
  ansible.builtin.meta: flush_handlers

- name: If part of multiple containers deployment, ensure network exists
  community.docker.docker_network:
    name: "{{ redis_docker_network }}"
  when: redis_docker_network | length > 0

- name: Add Redis docker data volume
  ansible.builtin.set_fact:
    d_volumes: "{{ redis_volume_data }}"

- name: Build a list of all remaining custom docker volumes
  ansible.builtin.set_fact:
    d_volumes: "{{ d_volumes }}|{{ item }}"
  with_items: "{{ redis_volumes }}"
  when: redis_volumes | length > 0

- name: Ensure Redis container is created
  community.docker.docker_container:
    container_default_behavior: no_defaults
    detach: true
    env:
      REDIS_PASSWORD: "{{ redis_password }}"
    image: "{{ redis_image }}:{{ redis_version }}"
    interactive: false
    name: "{{ redis_name }}"
    networks: >-
      {{
        [ { 'name': redis_docker_network } ]
        if redis_docker_network | length > 0 else omit
      }}
    ports: "{{ redis_port | string + ':6379' if redis_port_exposed else omit }}"
    restart_policy: always
    state: present
    volumes: "{{ d_volumes.split('|') }}"
    user: "0:{{ redis_gid }}"
  notify: Restart redis

- name: Force all notified handlers to run at this point
  ansible.builtin.meta: flush_handlers
